@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  background-color: black;
}
.bg-gradient{
  background: rgb(1,64,69);
  background: linear-gradient(90deg, rgba(1,64,69,1) 0%, rgba(1,85,87,1) 20%, rgba(10,104,106,1) 40%, rgba(18,165,159,1) 60%, rgba(56,236,209,1) 80%);
}

.btn:after {
  content: ''; 
  position: absolute;
   background: #0af7ef;
 width: 40px;
 height: 50px;
   left: -20px; 
   bottom: 0px; 
   transform: skew(-40deg);
 z-index: 5;
 }

.btn:before {
  content: ''; 
  position: absolute;
   background: #0af7ef;
 width: 40px;
 height: 50px;
   right: -20px; 
   bottom: 0px; 
   transform: skew(-140deg);
 z-index: 5;
 }

.btn {
 display: block;
 color: black;
 text-align: center;
 line-height: 40px;
 font-weight:400;
 font-size: 20px;
 position: relative;
 text-decoration: none;
 margin-left: 100px;
 width: 240px;
 height: 50px;
 background: rgb(10,247,239);
background: linear-gradient(55deg , rgba(10,247,239,1) 62%, rgba(255,255,255,1) 55%, rgba(248,255,255,1) 68%, rgba(92,250,244,1) 63%, rgba(10,247,239,1)75%, rgba(250,255,255,1) 70%, rgba(250,255,255,1) 90%, rgba(92,250,244,1) 90%);
 z-index: 10;
}

.bgMask{
  background-image: url(../Assets/Mask.png);
}

.btn-bl{
  display: block;
  text-align: center;
 position: relative;
 text-decoration: none;
 z-index: 10;
  border: white 2px solid;
  border-bottom: white 8px solid;
  border-top:0px;
  width: 120px ;
  border-left:20px;
  border-right: 0px;
  height:40px;
  
}


.btn-bl:after {
  content: ''; 
  position: absolute;
   background: white;
 width: 2px;
 height: 31px;
   left: 9px; 
   bottom: 0px; 
   transform: skew(-30deg);
 z-index: 5;
 }

.btn-bl:before {
  content: ''; 
  position: absolute;
   background: white;
  width: 2px;
  height: 31px;
   right: 12px; 
   bottom: 0px; 
   transform: skew(-144deg);
 z-index: 5;
 }

 .btn-bl-span{
  display: block;
  text-align: center;
 position: relative;
 }

 .btn-bl-span:after {
  content: ''; 
  position: absolute;
   background: white;
 width: 60px;
 height: 1.1px;
   left: 37px; 
   bottom: 25px; 
   transform: skew(-91deg);
 z-index: 5;
 }